<?xml version="1.0" encoding="UTF-8" ?>

<configuration debug="true">

    <property name="fileName" value="${log.dir}/${project.artifactId}" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${fileName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${fileName}.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <!-- keep 30 days worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="com.nbcuni" level="${log.threshold}" />

    <logger name="org.springframework" level="info" />

    <root level="${log.threshold}">
        <appender-ref ref="FILE" />
    </root>

</configuration>